{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<p>
</p>
</p><center><h1> Help </h1></center>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<h4> Q&A</h4>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<h6> Question: How do I enter an event?</h6>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<h6> Answer: Toggle to the sign up page and your full name, select an event and your grade level</h6>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<h6> Question: Where do I see the reports? </h6>
<h6> Answer: Toggle to the reports page, you will view the names and points of each student, organized by grade level.</h6>
<h6> A notification will appear at the end of each quarter to alert you of this</h6>
<h6> Question: How do I see the see the winners?</h6>
<h6> Answer: Toggle to the rewards page. Winners with the most points in each grade level will be displayed along with the prize they win</h6>
<h6> Choose a grade level to generate a random winner and see the prize that they win</h6>
<h6> A notification will appear at the end of each quarter to alert you of this</h6>
<h6> Question: How do prizes work?</h6> 
<h6> Answer: Each event you participate in will earn you a point, to win the school spirit item you must have at least 1 point.</h6> 
<h6> You must earn at least 4 points to win the food prize and at least 7 to win the Gold Medal</h6> 
<!-- box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    } -->



{% endblock %}