{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

    <div class="container">
        <h1>North Creek Event Tracker</h1>
        <h4>The number one app to keep</h4>
        <h4>track of your school events</h4>        
        
        <div class="container">
            <!-- <img src="{{userimage}}" class="image-responsive" alt="User Image"/> -->
        </div>
        <label align="center">The app allows one to enter and</label>
        <label align="center">store the events they participate in.</label>
        <label align="center">A quarterly report will be generated, </label>
        <label align="center">highlighting each students participation. </label>
        <label align="center">Quarterly winners will also be chosen</label>
        <label align="center">and will win prizes accordingly.</label>
{% endblock %}














