{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<h1> This is home page </h1>
<form method="post">
  <h3 align="center">home</h3>
  <div class="form-group">
  <label for="student_id">student id</label> 
  <input type="text" class="form-control" id="student_id" placeholder="enter student id">
  <input type="text" class="form-control" id="event_id" placeholder="enter event id">
</div>
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
