{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<h1> Remove Students </h1>
<form method="post">
  <label align="center">Enter Student info and click submit to Save into portal</label>
  <div class="form-group">
  <input type="text" class="form-control" name="student_name" placeholder="enter student name e.g. <first last>">
  <input type="text" class="form-control" name="event_name" placeholder="enter event name">
  <input type="text" class="form-control" name="grade_level" placeholder="enter grade level">
  
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}