{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<form method="post">
  <h3 align="center">Reports</h3>
  <div class="form-group">
    <label align="center">View Student by Grade. Drop down will dynamically allow only those grades with saved info</label>
    <select name="grades_field" class="form-control" method="GET" action="/">
      <option value="{{gradesInput[0]}}" selected> Select grade level and click button below to filter reports</option>    
      {% for eachgrade in gradesInput %}
        <option value= "{{eachgrade}}"> Grade {{eachgrade}}</option>"
      {% endfor %}
    </select>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<br />
 <table id="data" class="table table-striped">
  <thead>
    <tr align="center">
      <th>Name</th>
      <th>Grade</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for student in studentView %}
      <tr align="center">
        <td>{{ student[0]}}</td>
        <td>{{ student[1]}}</td>
        <td>{{ student[2]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}