{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<form method="post">
  <h3 align="center">Reports</h3>
  <div class="form-group">
  <label for="student_id">Select the grade level you want to view</label> 
  <input type="text" class="form-control" name="grade_level" placeholder="Enter grade level to filter">
  <!-- <select name=grades>
    {% for eachgrade in grades %}
    <option value="{{grade}}" SELECTED> {{grades}}
    {% endfor %} -->
</div>
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>
 <table id="data" class="table table-striped">
  <thead>
    <tr align="center">
      <th>Name</th>
      <th>Grade</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for student in studentView %}
      <tr align="center">
        <td>{{ student[0]}}</td>
        <td>{{ student[1]}}</td>
        <td>{{ student[2]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}