{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<form method="post">
  <h3 align="center">reports</h3>
  <div class="form-group">
  <label for="student_id">grade level</label> 
  <input type="text" class="form-control" name="grade_level" placeholder="enter grade level">
  <input type="text" class="form-control" name="student_id" placeholder="enter student name">
</div>
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>
 {{text}} 
 {{points}} 
{% endblock %}