{% extends "base.html" %} {% block title %}Changed{% endblock %}

{% block content %}
{{text3}} 
{{items}}
{{elected_grade}}

<form method="post">
    <h3 align="center">Rewards</h3>
    <div class="form-group">
    <label for="student_id">select a grade level to choose a random winner from</label> 
    <input type="text" class="form-control" name="grade_level" placeholder="enter grade level">
    <input type="text" class="form-control" name="student_name" placeholder="enter student name">
  </div>
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{{winner}}
{{reward1}}
{{reward2}}
{{reward3}}
<!-- {{reward4}}
{{reward5}} --> -->
{% endblock %}